{% load staticfiles %}
<html>
    <head>
        <title>Salon samochodów używanych</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/test.css' %}">

    </head>
    <body>
        <div class="page-header">
             {% if user.is_authenticated %}
              {% if not user.is_superuser%}
            <a href="{% url 'user_details' %}" class="top-menu">{{user.username}} <span class="glyphicon glyphicon-paperclip">  </a>
             {%endif%}
              {%endif%}
            <h1><a href="{% url 'test' %}">Salon samochodów używanych</a></h1>
        </div>
<div id="menu">
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'index' %}" >Home</a></li>
      <li><a href="{% url 'car_filter' %}">Wyszukaj</a></li>
       {% if user.is_authenticated %}
      <li><a href="{% url 'car_add' %}">Dodaj ogłoszenie</a></li>
      {%endif%}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Zarejestruj</a></li>
        {% if not user.is_authenticated %}
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
      {%else%}
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
      {%endif%}
    </ul>
  </div>
</nav>
</div>



<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
        </div>
    </div>
    </body>
</html>