{% extends 'app1/base.html' %}

{% block content %}
<h1>Dane użytkownika:</h1>
<h3>  <b>Nazwa:</b> {{ user.username }} </h3>
 <form method="POST">{% csrf_token %}
        {{ u.as_p }}
        <button type="submit" class="save btn btn-default">Zapisz zmiany</button>
</form>

<br>
<h3>Twoje aukcje:</h3>

<table>
 {% for car in cars %}
 <tr>
    <div class="sam">

    <td><a class="tbl_cars" href="{% url 'car_details' pk=car.pk %}">{{ car.marka.nazwa  }} {{ car.model }} {{ car.rok }}r
        {{ car.paliwo }} {{ car.cena }}zł
        </a></td>
       <td> <a class="btn btn-default" href="{% url 'car_edit' pk=car.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
       <td> <a class="btn btn-default"  onclick="return confirm('Na pewno chcesz usunąć swoją ofertę?')" href="{% url 'car_remove' pk=car.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>

    </div>
    </tr>
{% endfor %}
</table>
{% endblock %}